<!-- Главная страница -->
<p>
    <a asp-controller="Home" asp-action="Server1">Сервер 1</a>
</p>
<p><ul>
Отображает:
<li>ширину и высоту основного монитора</li>
<li>цвет пикселя на сервере для переданных от клиента координат</li>
</ul></p>

<p>
    <a asp-controller="Home" asp-action="Server2">Сервер 2</a>
</p>
<p><ul>
Отображает:
<li>Идентификатор серверного процесса</li>
<li>Дескриптор серверного процесса</li></ul></p>
