@model FormServer2Display

<!-- Страница сервера 2 -->

@if (Model.isError){
<script>
alert("Сервер недоступен");
</script>
}

<div id="srv-form">
<h2>Сервер 2</h2>
<p><ul>
Отображает:
<li>Идентификатор серверного процесса</li>
<li>Дескриптор серверного процесса</li></ul></p>

<form method="post">
    <p>
        <label for="address">Адрес сервера</label>
        <input type="text" name="address" value="@Model.address" />
    </p>
    <input class="button" type="submit" name="srv1-submit" value="Проверить"/>
</form>
@if (!string.IsNullOrWhiteSpace(Model.did) || !string.IsNullOrWhiteSpace(Model.did))
{
<div class="srv-info">
    <p>Полученные данные:</p>
    <p>Идентификатор серверного процесса: <b>@{@Model.pid}</b></p>
    <p>Дескриптор серверного процесса: <b>@{@Model.did}</b></p>
</div>
}
</div>
