@model FormServer1Display

<!-- Страница сервера 1 -->

@if (Model.isError){
<script>
alert("Сервер недоступен");
</script>
}
<div id="srv-form">
<h2>Сервер 1</h2>
<p><ul>
Отображает:
<li>ширину и высоту основного монитора</li>
<li>цвет пикселя на сервере для переданных от клиента координат</li>
</ul></p>
<form method="post">
    <p>
        <label for="address">Адрес сервера</label>
        <input type="text" name="address" value="@Model.address" />
    </p>
    <p>
        <label>Координаты x и y для точки: </label>
        <input type="number" name="xpos" min="1" placeholder="x" />
        <label>x</label>
        <input type="number" name="ypos" min="1" placeholder="y" />
    </p>
    <input class="button" type="submit" name="srv1-submit" value="Проверить"/>
</form>
@if(!string.IsNullOrWhiteSpace(Model.color) || !string.IsNullOrWhiteSpace(Model.screenX) || !string.IsNullOrWhiteSpace(Model.screenY))
{
    <div class="srv-info">
    <p><b>Полученные данные:</b></p>
    @if(!string.IsNullOrWhiteSpace(Model.screenX) || !string.IsNullOrWhiteSpace(Model.screenY))
    {
        <p>Разрешение основоного монитора: @{@Model.screenX}x@{@Model.screenY}</p>
    }
    @if(!string.IsNullOrWhiteSpace(Model.color))
    {
        <div class="color-pixel" style="background-color: rgb@{@Model.color};"></div>
        <p>Цвет пикселя (@{@Model.xpos}; @{@Model.xpos}) на экране: <b>RGB @Model.color</b></p>
    }
    </div>
}